#{extends 'main.html' /}

#{include 'nav/open.html' /} 
  <li><a href="@{About.index()}">About</a></li>     
  <li class="active"><a href="@{Contact.index()}">Contact</a></li>      
#{include 'nav/close.html' /}

<div class="row">  
  <div class="span1"></div><!-- margin -->
    <div class="span5">  
      <h4>Contact Us</h4>
      <h6>Please write to us. Full details of all your problems please. And how we may help you.</h6>