#{extends 'main.html' /}
#{set title:'Sign up' /}

<div class="row">
  <div class="span10">
     #{include 'nav/open.html' /}
    <li><a href="@{About.index()}">About</a></li>     
  <li><a href="@{Contact.index()}">Contact</a></li>      
     #{include 'nav/close.html' /}
  </div>
</div>

<div class="row">  
  <div class="span1"></div><!-- margin -->
    <div class="span4">
            <form id="signup" action="/register" method="POST">
              <input type="text" name="email" id="email" placeholder="Email"/>
              <input type="text" name="firstName"  id="firstName" placeholder="First Name" /> 
              <input type="text" name="lastName"  id="lastName" placeholder="Last Name"/> 
              <input type="password" name="password"  id="password" placeholder="Password"/>        
              <input class="btn btn-default" type="submit" value="Signup" />
            </form>
  </div>
</div>